# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.venv/

# Mô hình hoặc dữ liệu nặng
model/
*.h5
*.pth
*.pt
*.onnx

# Cache và log
*.log
*.tmp
*.cache/
.cache/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# MacOS, Windows
.DS_Store
Thumbs.db
desktop.ini

# ChromeDriver nếu tải riêng

.env


